src/Request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Req" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <!-- Bank account number, exactly 16 digits -->
              <xs:element type="xs:integer" name="BA"/>
              <!-- Tax Number, exactly 10 digits. -->
              <xs:element type="xs:string" name="TaxNo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
